<div class="bgImage" style="background-image: url('./assets/forehand_man_tennis.jpg')">
</div>

<div style="text-align: center;" class="mt-4 p-5 bg-dark text-white rounded">
    <h1>O nama</h1>
    <div>
        <span style="text-align: justify;">
            Teniski klub « Elite » je osnovan 1997. godine na novoizgrađenih 5 teniskih terena i malim sportskim objektom sa svlačionicama. 
            Klub se veoma brzo razvijao i postao jedan od najvećih klubova u Srbiji. U toku 2008. godine je na tom prostoru ukupne površine 10.000m² 
            izgrađena poslovna zgrada od 3.000m² poslovnog prostora u okviru koje se nalazi apartmani za tenisere i restoran. 
            Takođe je izgrađen još jedan centralni teniski teren, i hala na dva postojeća teniska terena. 
            Time su se stekli uslovi za rad internacionalne teniske akademije, koja je zvanično počela sa radom 26. marta 2009.godine.
        </span>
        <br/><br/>
        <span style="text-align: justify;">
            TENISKA AKADEMIJA « ELITE » danas radi na 10 teniskih terena, od kojih su 6 terena u okviru samog sportsko – poslovnog centra, 
            a 4 u neposrednoj blizini koji se koriste po potrebi. Svi tereni su kvalitetno osvetljeni, tako da se tenis na njima igra do 23 časa. 
            Dva terena su pokrivena i leti, sa otvorenim bočnim stranama, tako da se tenis na njima uvek može igrati nezavisno od vremena. 
            Zimi se treninzi odvijaju u samoj akademiji na 4 pokrivena terena od kojih su 3 na šljaci i 1 na betonu. Letnja sezona traje od 01.04. do 01.11. 
            tekuće godine (7 meseci), a zimska sezona traje od 01.11. do 01.04. naredne godine (5 meseci).
        </span>
    </div>
</div>
<div class="container" style="padding-top: 20px;">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12" style="width: 100%; padding-bottom: 20px;" >
            <h1 style="text-align: center;">Kako do nas?</h1>
            <div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1404.462689504008!2d19.7945834!3d45.2493017!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475b11c584b6ae3b%3A0x42ec0ff31b10a976!2sTennis%20Academy%20Elite!5e0!3m2!1sen!2srs!4v1592169656132!5m2!1sen!2srs" 
                frameborder="0" style="border:0; align-self: left;" class="img" allowfullscreen="" aria-hidden="false" tabindex="0" width="100%" [style]="{'align-self':'left'}"></iframe>
                
            </div>
        </div>
    </div>
</div>
<div class="container" style="padding-top: 20px; width: 100%;">
    <div class="row mt-2 p-4 bg-dark text-white rounded" style="width: 100%;"  >
        <h1 style="text-align: center;">Kontakt:</h1>
        <div>
            <i class="fa fa-phone" aria-hidden="true" style="padding-right: 5px;"></i> 
            <span> Telefon:<b style="padding-left: 5px;">065/6474545</b></span>
            <br/>
            <i class="fa fa-envelope" aria-hidden="true" style="padding-right: 5px;"></i><span>Email: <b style="padding-left: 5px;">tennisacademy@gmail.com</b></span> 
            <br/>
            <i class="fa fa-map-marker" aria-hidden="true" style="padding-right: 5px;"></i>
            <span>Adresa: <b style="padding-left: 5px;">BULEVAR JOVANA DUČIĆA 35 11000 BEOGRAD, SERBIA</b></span>
            <br/>
        </div>
    </div>
</div>
